#neuron2{
  color: green;
}

div.circle {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

div.circleGreen {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: green;
}

div.circleBlue {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: blue;
}

div.circleGrey {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: grey;
}

div.null {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

body {
  background-color:#25252C
}

p, h2, tbody{
  color: white;
  font-family: 'Quicksand', sans-serif;
}

button{
  color: black;
  font-family: 'Quicksand', sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td{
  border: 1px solid grey;
}

td {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
